#main-section{
    margin-top: 9vw;
}

#contact-photo{
    height: 25vw;
    border-radius: 10px;
    margin-right: 3vw;
}

.contact-card{
    border-radius: 10px;
    height: 25vw;
    margin-left: 3vw;
}

.contact-title{
    font-weight: bold !important;
    font-size: 1.5vw !important;
    margin-left: 2vw;
    margin-bottom: 1vw;
    padding-top: 5vw;    
}

.contact-text{
    font-size: 1.15vw !important;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
}

ul{
    font-size: 1.15vw !important;
    margin-left: 2vw;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}