

#intro{
    margin-top: 10vw;
    margin-left: 2%;
}

#professional-experiences{
    margin-top: 9vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

#professional-header{
    font-size: 2.5vw !important;
}

#academic-header{
    font-size: 2.5vw !important;
    margin-top: 2vw;
}

.exp-card{
    width: 100vw !important;
    color: black;
    border-radius: 10px;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.card-text{
    margin-top: 3vw !important;
    margin-right: 1.5vw !important;
}

.role-title{
    font-weight: bold !important;
    font-size: 1.5vw !important;
}

.role-subtitle{
    font-size: 1.35vw !important;
    color: #1393ce !important;
}

.role-text{
    font-size: 1.20vw !important;
    margin-right: 1vw;
}

#spectrum-photo{
    height: 15vw;
    margin: 3vw;
    border-radius: 10px;
}

#unc-photo{
    height: 15vw;
    margin: 3vw;
    margin-top: 6vw;
    border-radius: 10px;
}

#webdev-photo{
    height: 15vw;
    margin: 3vw;
    margin-top: 5vw;
    border-radius: 10px;
}

#css-photo{
    height: 15vw;
    margin: 3vw;
    margin-top: 5vw;
    border-radius: 10px;
}

#camp-mindy-photo{
    height: 15vw;
    margin: 3vw;
    margin-top: 6vw;
    border-radius: 10px;
}

#courses-photo{
    height: 15vw;
    width: 26vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 12vw;
    border-radius: 10px;
}

#unc-text{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#webdev-text{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#camp-mindy-text{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#css-text{
    margin-bottom: 2vw;
}

#courses-text{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

#current-courses{
    font-size: 1.10vw !important;
}

li{
    font-size: 1vw !important;
}